<?xml version="1.0"?>
<launch>
  
# Things to Know!
# input_state_topic name should contain             -- geometry_msgs::Pose
# input_velocity_topic_name will write to           -- geometry_msgs::Twist
# output_velocity_topic_name will write             -- geometry_msgs::Twist

	<arg name="input_state_topic_name"           default="/UR10arm/ee_pose"/>
	<!-- <arg name="input_velocity_topic_name"        default="/UR10arm/desired_twist"/>
	<arg name="output_velocity_topic_name"       default="/arm/twist_controller/command_twist"/> -->
	<arg name="input_velocity_topic_name"        default="/arm/twist_controller/command_twist"/>
	<arg name="output_velocity_topic_name"       default="/UR10arm/desired_twist"/>

	<group ns="ds_filter">
		<param name="input_state_topic_name"      value="$(arg input_state_topic_name)"/>
		<param name="input_velocity_topic_name"   value="$(arg input_velocity_topic_name)"/>
		<param name="output_velocity_topic_name"  value="$(arg output_velocity_topic_name)"/>
		<node name="cddynamics_velocity_filter_node" pkg="online_motion_generator" type="cddynamics_velocity_filter_node" output="screen" />
	</group>

</launch>